name: エックスサーバー自動デプロイ

on:
  push:
    branches: [ main ]
  workflow_dispatch:

jobs:
  deploy:
    runs-on: ubuntu-latest
    
    steps:
    - name: ファイル取得
      uses: actions/checkout@v3
    
    - name: エックスサーバーにアップロード
      uses: SamKirkland/FTP-Deploy-Action@4.3.3
      with:
        server: ${{ secrets.FTP_SERVER }}
        username: ${{ secrets.FTP_USERNAME }}
        password: ${{ secrets.FTP_PASSWORD }}
        local-dir: ./
        server-dir: /home/twinklemark/smiley/taxi/wts/
        exclude: |
          **/.git*
          **/README.md
          **/.github/**
